#body{
    background-image: url(images/download.jpeg);
    text-align: center;
    font-style: italic;
    color:red ;
    margin-left:60px ;
    margin-right: 60px;
}
#home{
    font-style: oblique;
}