#body{
    background-image: url(../images/download.jpeg);
    text-align: center;
    font-style: italic;
    color:red ;
    margin-left:60px ;
    margin-right: 60px;
}
#home{
    font-style: oblique
}
#header{
    text-align: center;
    color: chartreuse;
    font-style: italic;
}
#important{
    color: red;
    font-style: inherit;
    text-align: center;
}
#Contactus{
    text-align: center;
}
#order{
background-color: darksalmon;
text-align: center;
}